.IngresosContainer{
    display: grid;
    gap: 30px;
    list-style: none;
    border-radius: 20px;
    margin-top: 50px;
}

.ingresosSelect {
    display: flex;
    gap: 10px;
}

@media(max-width: 700px) {
    .ingresosSelect {
        display: grid;
        gap: 10px;
    }
}

.ingresosSelect select {
    width: 300px;
}

.logForm{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}