.inputForm {
    width: 350px;
    border-radius: 10px;
    padding: 10px;
}

@media(max-width:500px) {
    .inputForm {
        width: 200px;
    }
}



.buttonForm {
    background-color: #343DE9;
}



.btnPagina{
    text-align: center;
    background-color: rgb(70, 106, 224);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.textoForm{
    color: white;
    margin: 0;
    text-align: center;
}
