#root {
  margin: 0 auto;
}

body{
  
  background: radial-gradient(circle, #28263B, #151724);
}
button{
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor:pointer;
  background-color: #343DE9;
}
button:hover{
  border: solid, black;
}
a{
  text-decoration: none;
  color: white;
}

.centerText{
  text-align: center;
}

h1, h2, h3, h4, button, p {
  color: white;
}

ul, li {
  padding: 0;
}

.FormIngresoGastos__Contenedor{
display: grid;
gap: 40px;
}

.logForm{
  display: grid;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}